.container h1 {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 47, 255, 0.904);
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 1px 1px 3px black;
}

.loader-spinner-area {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
